@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

$font-family: "League Spartan", sans-serif;

* {
  font-family: $font-family;
  box-sizing: border-box;
}

.calculator {
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    p {
      font-size: 30px;
      margin: 0;
    }

    .theme {
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;

      p {
        font-size: 12px;
        margin-bottom: 5px;
        margin-right: 10px;
      }

      .number-toggle {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;

        p {
          margin-right: 0;
        }
      }

      .container {
        width: 60px;
        padding: 5px;
        border-radius: 13px;

        .button {
          width: 13px;
          height: 13px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }

  .input-number {
    width: 100%;
    font-size: 50px;
    text-align: end;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    -webkit-appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .input-button {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 100px));
    gap: 15px;
    padding: 20px 10px;
    justify-content: center;
    border-radius: 10px;

    .btn-reset {
      grid-column: 1 / 3;
    }

    .btn-sum {
      grid-column: 3 / 5;
    }

    .btn {
      font-size: 32px;
      padding: 15px 10px;
      border-radius: 10px;
      text-transform: uppercase;
      text-align: center;
      border: none;
      cursor: pointer;

      &:hover {
        position: relative;
        top: 5px;
        box-shadow: none !important;
      }
    }
  }
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
