@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
$font: "Manrope", sans-serif;
$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

* {
  box-sizing: content-box;
}

body {
  font-family: $font;
  background-color: $dark-blue;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .card {
    background-color: $dark-grayish-blue;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 50px 60px;
    text-align: center;
    position: relative;

    h1 {
      font-size: 28px;
      color: $light-cyan;
    }

    p {
      color: $neon-green;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    .divider {
      margin-top: 10px;
      width: 100%;
    }

    #btn {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      padding: 20px;
      padding: 0;
      background-color: $neon-green;
      border: none;
      position: absolute;
      left: 50%;
      bottom: 0%;
      transform: translate(-50%, 50%);

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 30px 5px $neon-green;
      }

      img {
        width: 23px;
      }
    }
  }

  .attribution {
    margin-top: 50px;
    font-size: 11px;
    text-align: center;
    color: $light-cyan;

    a {
      color: $neon-green;
    }
  }
}
@media screen and (max-width: 768px) {
  main {
    width: 90%;
  }
}
